html,body{
    height: 100%;
}
body {
    background:url(Fondo.jpg)no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.Titulo{
    font-family: cursive;
    font-size: 40px;
    color: rgb(255, 255, 255);
    background:linear-gradient(darkblue,black );
    text-align: center;
    box-shadow: 0 0 10px;

}
.Parrafo{
    font-family: cursive;
    font-size: 20px;
    background:linear-gradient(gray,transparent);
    color: white;
    box-shadow: 0 0 10px #000;
    padding: 30px;
    column-count:2;
}
.Foto{
    width: 500px;
    border-radius: 200px;
    filter:grayscale(1);
    transition: all linear 0.5s;
}
.Foto:hover{
    border-radius: 0px;
    filter: grayscale(0);
    cursor: pointer;
}

