html,body{
    height: 100%;
}
body {
    background:url(Fondo.jpg)no-repeat;
    background-size: cover;
}

h1{
    color: rgb(0, 0, 0);
    background:linear-gradient(rgba(255,255,255));
    text-align: center;
}
div{
    color: white;
    background:linear-gradient(rgba(black));
}